{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:User:register{% endblock %}

{% block body %}

<section class="" style="margin-bottom: 609px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="about-image">
                                <img class="img-responsive" src="images/users/6.png" alt="">
                            </div>
                            <div class="resume-social">
                                <ul class="social-network social-circle onwhite">
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin +"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="resume-box">
                                <div class="heading-inner">
                                    <p class="title">Personal Information</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="my-contact">
                                            <div class="contact-icon">
                                                <span class="icon-profile-female"></span>
                                            </div>
                                            <div class="contact-info">
                                                <h4>Name: </h4>
                                                <p>Emily Copper</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="my-contact">
                                            <div class="contact-icon">
                                                <span class=" icon-envelope"></span>
                                            </div>
                                            <div class="contact-info">
                                                <h4>Email: </h4>
                                                <p><a href="mailto:resume@user.com">resume@user.com</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="my-contact">
                                            <div class="contact-icon">
                                                <span class=" icon-phone"></span>
                                            </div>
                                            <div class="contact-info">
                                                <h4>Phone: </h4>
                                                <p><a href="tel:+9911154849901">+92-333-1234567</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="my-contact">
                                            <div class="contact-icon">

                                                <span class="icon-calendar"></span>
                                            </div>
                                            <div class="contact-info">
                                                <h4>Date Of birth: </h4>
                                                <p>Emily Copper</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="my-contact">
                                            <div class="contact-icon">
                                                <span class="icon-map-pin"></span>
                                            </div>
                                            <div class="contact-info">
                                                <h4>Address: </h4>
                                                <p>24L Street Lahore Pk pakistan</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="my-contact">
                                            <div class="contact-icon">
                                                <span class="icon-flag"></span>
                                            </div>
                                            <div class="contact-info">
                                                <h4>Nationality: </h4>
                                                <p>Pakistan</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="about-me"> I am <b>Graphic Designer</b>. Lesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreh. <b>Excepteur sint occaecat</b> cupidatat non proident. </p>
                                <p class="about-me">Lesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreh. Excepteur sint occaecat cupidatat non proident. </p>
                                <p class="about-me"> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreh. Excepteur sint occaecat cupidatat non proident. </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="resume-box">
                                <div class="heading-inner">
                                    <p class="title">Educational Information</p>
                                </div>
                                <div class="row education-box">
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="resume-icon">
                                            <span class="icon-clipboard"></span>
                                        </div>
                                        <div class="insti-name">
                                            <h4>Insitute of Managment</h4>
                                            <span>2012 to 2016</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8 col-sm-8">
                                        <div class="degree-info">
                                            <h4>Master of Business Administration</h4>
                                            <p>Lesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreh. Excepteur sint occaecat cupidatat non proident. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row education-box">
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="resume-icon">
                                            <span class="icon-pencil"></span>
                                        </div>
                                        <div class="insti-name">
                                            <h4>Uni. Of Locastus UK</h4>
                                            <span>2010 to 2012</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8 col-sm-8">
                                        <div class="degree-info">
                                            <h4>Software Engineering</h4>
                                            <p>Lesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreh. Excepteur sint occaecat cupidatat non proident. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row education-box">
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="resume-icon">
                                            <span class="icon-expand"></span>
                                        </div>
                                        <div class="insti-name">
                                            <h4>Focus Higher School</h4>
                                            <span>2008 to 2010</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8 col-sm-8">
                                        <div class="degree-info">
                                            <h4>intermediate</h4>
                                            <p>Lesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreh. Excepteur sint occaecat cupidatat non proident. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="resume-box">
                                <div class="heading-inner">
                                    <p class="title">Work Experience</p>
                                </div>
                                <div class="row education-box">
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="resume-icon">
                                            <span class="icon-clipboard"></span>
                                        </div>
                                        <div class="insti-name">
                                            <h4>Glixen Technologies Ltd.</h4>
                                            <span>2012 to present</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8 col-sm-8">
                                        <div class="degree-info">
                                            <h4>principal software engineer</h4>
                                            <p>Lesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreh. Excepteur sint occaecat cupidatat non proident. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row education-box">
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="resume-icon">
                                            <span class="icon-pencil"></span>
                                        </div>
                                        <div class="insti-name">
                                            <h4>ScriptsBundle Studio</h4>
                                            <span>2010 to 2012</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8 col-sm-8">
                                        <div class="degree-info">
                                            <h4>Designing Engineering</h4>
                                            <p>Lesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreh. Excepteur sint occaecat cupidatat non proident. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row education-box">
                                    <div class="col-md-4 col-xs-12 col-sm-4">
                                        <div class="resume-icon">
                                            <span class="icon-expand"></span>
                                        </div>
                                        <div class="insti-name">
                                            <h4>Lhr Software house</h4>
                                            <span>2008 to 2010</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-8 col-sm-8">
                                        <div class="degree-info">
                                            <h4>Intern</h4>
                                            <p>Lesed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repreh. Excepteur sint occaecat cupidatat non proident. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="heading-inner">
                                <p class="title">Skills That I have</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 92%;">
                                            <span class="sr-only">92% Complete</span>
                                        </div>
                                        <span class="progress-type">HTML / HTML5</span>
                                        <span class="progress-completed">92%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" style="width: 90%">
                                            <span class="sr-only">38% Complete (success)</span>
                                        </div>
                                        <span class="progress-type">PHP / MySQL</span>
                                        <span class="progress-completed">90%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                        <span class="progress-type">CSS / CSS3</span>
                                        <span class="progress-completed">80%</span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete (info)</span>
                                        </div>
                                        <span class="progress-type">Java</span>
                                        <span class="progress-completed">20%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                            <span class="sr-only">85% Complete (warning)</span>
                                        </div>
                                        <span class="progress-type">JavaScript / jQuery</span>
                                        <span class="progress-completed">85%</span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                        <span class="progress-type">CSS / CSS3</span>
                                        <span class="progress-completed">80%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="heading-inner">
                                <p class="title">My Clients</p>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="brand-logo-area clients-bg">
                                        <div class="clients-list light-blue owl-carousel owl-theme" style="opacity: 1; display: block;">
                                            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4560px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-855px, 0px, 0px);"><div class="owl-item" style="width: 285px;"><div class="client-logo">
                                                <a href="#"><img src="images/clients/client_1.png" class="img-responsive" alt="Brand Image"></a>
                                            </div></div><div class="owl-item" style="width: 285px;"><div class="client-logo">
                                                <a href="#"><img src="images/clients/client_2.png" class="img-responsive" alt="Brand Image"></a>
                                            </div></div><div class="owl-item" style="width: 285px;"><div class="client-logo">
                                                <a href="#"><img src="images/clients/client_3.png" class="img-responsive" alt="Brand Image"></a>
                                            </div></div><div class="owl-item" style="width: 285px;"><div class="client-logo">
                                                <a href="#"><img src="images/clients/client_4.png" class="img-responsive" alt="Brand Image"></a>
                                            </div></div><div class="owl-item" style="width: 285px;"><div class="client-logo">
                                                <a href="#"><img src="images/clients/client_1.png" class="img-responsive" alt="Brand Image"></a>
                                            </div></div><div class="owl-item" style="width: 285px;"><div class="client-logo">
                                                <a href="#"><img src="images/clients/client_2.png" class="img-responsive" alt="Brand Image"></a>
                                            </div></div><div class="owl-item" style="width: 285px;"><div class="client-logo">
                                                <a href="#"><img src="images/clients/client_3.png" class="img-responsive" alt="Brand Image"></a>
                                            </div></div><div class="owl-item" style="width: 285px;"><div class="client-logo">
                                                <a href="#"><img src="images/clients/client_4.png" class="img-responsive" alt="Brand Image"></a>
                                            </div></div></div></div>
                                            
                                            
                                            
                                            
                                            
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
