{% extends app.request.xmlHttpRequest()
     ? 'AppBundle::ajax.html.twig'
     : 'AppBundle:UserProfile:profile-layout.html.twig' %}
          

{% block sub_body %}


    <div class="heading-inner first-heading">
        <p class="title">Educational Detail</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
        <div class="profile-edit row">
            {{ render(controller(
                'AppBundle:UserProfile:getEmbeddedForm',
                { 'max': 3 }
            )) }}    
        </div>
        <hr class="divider">
    </div>
    
    <div class="heading-inner first-heading">
        <p class="title">Job Experience</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
        <div class="profile-edit row">
            <form>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>Position <span class="required">*</span></label>
                        <input type="text" placeholder="Position Title" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Job start Date <span class="required">*</span></label>
                        <input type="text" placeholder="Pick Date" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>JobEnd Date <span class="required">*</span></label>
                        <input type="text" placeholder=" Pick Date" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label" for="appbundle_user_about">About</label>
                        <textarea rows="10" id="appbundle_user_about" name="appbundle_user[about]" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <button class="btn btn-default pull-right"> Save Experience <i class="fa fa-angle-right"></i></button>
                </div>
            </form>
        </div>
        <hr class="divider">
    </div>
    
    <div class="heading-inner first-heading">
        <p class="title">Add Skills</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
        <div class="profile-edit row">
            <form>
                <div class="col-md-8 col-sm-12">
                    <div class="form-group">
                        <label>Skill Name <span class="required">*</span></label>
                        <input type="text" placeholder="Skill Name" class="form-control">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>Add Percentage (%) <span class="required">*</span></label>
                        <input type="text" placeholder="Percentage %" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <button class="btn btn-default pull-right"> Save Skills <i class="fa fa-angle-right"></i></button>
                </div>
            </form>
        </div>
        <hr class="divider">
    </div>
    
    <div class="heading-inner first-heading">
        <p class="title">Social Links</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
        <div class="profile-edit row">
            <form>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Face Book <span class="required">*</span></label>
                        <input type="text" placeholder="Profile URL" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Twitter <span class="required">*</span></label>
                        <input type="text" placeholder="Profile URL" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>LinkedIn <span class="required">*</span></label>
                        <input type="text" placeholder="Profile URL" class="form-control">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label>Google Pluse <span class="required">*</span></label>
                        <input type="text" placeholder="Profile URL" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <button class="btn btn-default pull-right"> Save Profiles Links <i class="fa fa-angle-right"></i></button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block scripts %}

<script src="/js/app/resume.js"></script>

<script>
    $(document).ready(function() {
        app.resume.init({
            saveEducationUrl: '{{ path('user_resume_form') }}'
        });
    });
</script>

{% endblock %}