{% extends app.request.xmlHttpRequest()
     ? 'AppBundle::ajax.html.twig'
     : 'AppBundle:UserProfile:profile-layout.html.twig' %}
          
{% block sub_body %}

<div class="job-short-detail">
    <div class="heading-inner">
        <p class="title">Profile detail</p>
    </div>
    <dl>
        <dt>First Name:</dt>
        <dd>Arslan Chaudhary</dd>

        <dt>Father Name:</dt>
        <dd> Ch Tariq Ayoub </dd>

        <dt>Date Of Birth:</dt>
        <dd> 15 Feb,2015 </dd>

        <dt>Phone:</dt>
        <dd>+99 333 1234567 </dd>

        <dt>Email:</dt>
        <dd>martine-aug234@domain.com </dd>

        <dt>Last Education:</dt>
        <dd>Phd in Information Technology</dd>

        <dt>Address:</dt>
        <dd>234 Uptown new City Tower </dd>

        <dt>City:</dt>
        <dd>Islamabad, Rawalindi</dd>

        <dt>Provience:</dt>
        <dd>North Vega </dd>

        <dt>Country:</dt>
        <dd>Somewere at Antarctica </dd>
    </dl>
</div>

<div class="heading-inner">
    <p class="title">Some Line About Me</p>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Lorem ipsum dolor sit amet. </p>
<p>{% trans %}Symfony is great{% endtrans %}</p>
{% endblock %}
