{% extends app.request.xmlHttpRequest()
     ? 'AppBundle::ajax.html.twig'
     : 'AppBundle:UserProfile:profile-layout.html.twig' %}

{% block sub_body %}

<div class="job-short-detail">
                        <div class="heading-inner">
                            <p class="title">Profile detail</p>
                        </div>
                        <p>Under construction</p>
                    </div>

{% endblock %}
