<section class="footer-bottom-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <p>Copyright ©2016 - Opportunities A Mega Job Board Template - All rights Reserved. Made By <a href="http://themeforest.net/user/scriptsbundle"> ScriptsBundle </a></p>
                                        <p>Reproduction of material from scriptsBundle without permission is strictly prohibited. </p>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 hidden-xs hidden-sm">
                                        <ul class="footer-menu">
                                            <li> <a href="#">Jobs in australia</a> </li>
                                            <li> <a href="#">Jobs in malaysia</a> </li>
                                            <li> <a href="#">Jobs in england</a> </li>
                                            <li> <a href="#">Jobs in saudi arabia</a> </li>
                                            <li> <a href="#">Jobs in south africa</a> </li>
                                            <li> <a href="#">Jobs in saudi Pakistan</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>