# USER ROUTES 

register:
    path:     /register
    defaults: { _controller: AppBundle:User:register }


login:
    path:     /login
    defaults: { _controller: AppBundle:User:login }
    
logout:
    path:     /logout
    defaults: { _controller: AppBundle:User:logout }    

# CHANGE LANGUAGE

change_lang:
    path:     /change/lang/{lang}
    defaults: { _controller: AppBundle:Lang:change }

# USER PROFILE ROUTES

stub:
    path:     /stub
    defaults: { _controller: AppBundle:UserProfile:stub }

user_profile:
    path:     /user/profile
    defaults: { _controller: AppBundle:UserProfile:dashboard }

user_profile_edit:
    path:     /user/profile/edit
    defaults: { _controller: AppBundle:UserProfile:edit }

user_profile_edit_resume:
    path:     /user/profile/resume/edit
    defaults: { _controller: AppBundle:UserProfile:editResume }

user_profile_saved_resume:
    path:     /savedResume
    defaults: { _controller: AppBundle:UserProfile:stub }

user_profile_jobs:
    path:     /jobs
    defaults: { _controller: AppBundle:UserProfile:stub }

user_profile_followed:
    path:     /followed
    defaults: { _controller: AppBundle:UserProfile:stub }

resume_view:
    path:     /resume
    defaults: { _controller: AppBundle:Resume:view }
