{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:User:register{% endblock %}

{% block body %}

<section class="login-page light-blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="login-container">
                            <div class="loginbox">
                                <div class="loginbox-title">{% trans %}sign in using social accounts{% endtrans %}</div>
                                <ul class="social-network social-circle onwhite">
                                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="icoLinkedin" title="Linkedin +"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <div class="loginbox-or">
                                    <div class="or-line"></div>
                                    <div class="or">OR</div>
                                </div>
                                <div class="form-group">
                                    <label>{% trans %}Email{% endtrans %}: <span class="required">*</span></label>
                                    <input placeholder="" class="form-control" type="email">
                                </div>
                                <div class="form-group">
                                    <label>{% trans %}Password{% endtrans %}: <span class="required">*</span></label>
                                    <input placeholder="" class="form-control" type="password">
                                </div>
                                <div class="loginbox-forgot">
                                    <a href="">{% trans %}Forgot Password?{% endtrans %}</a>
                                </div>
                                <div class="loginbox-submit">
                                    <input type="button" class="btn btn-default btn-block" value="Login">
                                </div>
                                <div class="loginbox-signup">
                                    <a href="#register.html">{% trans %}Sign Up With Email{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
