    <nav id="menu-1" class="mega-menu fa-change-black" data-color=""> 
    <section class="menu-list-items container"> 
        <ul class="menu-logo">
            <li> <a href="index.html"> <img src="images/logo.png" alt="logo" class="img-responsive"> </a> <div class="menu-mobile-collapse-trigger"><span></span></div></li>
        </ul>
        <ul class="menu-links pull-right" style="display: none; max-height: 400px; overflow: auto;">
            <li class="hoverTrigger"> <a href="javascript:void(0)"> Home <i class="fa fa-angle-down fa-indicator"></i><div class="mobileTriggerButton"></div></a>
                <ul class="drop-down-multilevel effect-fade" style="transition: all 400ms ease;">
                    <li class="hoverTrigger"><a href="javascript:void(0)">Home Style  <label class="label label-info">New</label> <i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                	<ul class="drop-down-multilevel effect-fade" style="transition: all 400ms ease;">
                        <li><a href="index.html"><i class="fa fa-angle-right"></i> Home Default</a></li>
                        <li><a href="index2.html"><i class="fa fa-angle-right"></i> Home Text Rotator</a></li>
                        <li><a href="index3.html"><i class="fa fa-angle-right"></i> Home Transparent</a></li>
                        <li><a href="index4.html"><i class="fa fa-angle-right"></i> Home With Slider</a></li>
                        <li><a href="index5.html"><i class="fa fa-angle-right"></i> Home 5 (Static Sections)</a></li>
                        <li><a href="index6.html"><i class="fa fa-angle-right"></i> Home Advance Search</a></li>
                        <li><a href="index7.html"><i class="fa fa-angle-right"></i> Home Map <label class="label label-info">New</label></a></li>
                        <li><a href="index8.html"><i class="fa fa-angle-right"></i> Home Search Header <label class="label label-info">New</label></a></li>
                    </ul>
                </li>
                    <li class="hoverTrigger"><a href="javascript:void(0)">Headers <i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                        <ul class="drop-down-multilevel effect-fade" style="transition: all 400ms ease;">
                            <li><a href="index7.html"> <i class="fa fa-forumbee"></i> Fixed Menu </a></li>
                            <li><a href="index.html"> <i class="fa fa-hotel"></i> Fixed Search </a></li>
                        </ul>
                    </li>
                    <li class="hoverTrigger"><a href="javascript:void(0)">Breadcrumb <i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                        <ul class="drop-down-multilevel effect-fade" style="transition: all 400ms ease;">
                            <li><a href="aboutus.html"> <i class="fa fa-forumbee"></i> Breadcrumb style 1</a></li>
                            <li><a href="breadcrumb-2.html"> <i class="fa fa-hotel"></i> Breadcrumb style 2</a></li>
                            <li><a href="breadcrumb-3.html"> <i class="fa fa-automobile"></i> Breadcrumb style 3</a></li>
                            <li><a href="breadcrumb-4.html"> <i class="fa fa-automobile"></i> Breadcrumb style 4</a></li>
                            <li><a href="breadcrumb-5.html"> <i class="fa fa-automobile"></i> Breadcrumb style 5</a></li>
                            <li><a href="breadcrumb-6.html"> <i class="fa fa-automobile"></i> Breadcrumb style 6</a></li>
                        </ul>
                    </li>
                    <li class="hoverTrigger"><a href="javascript:void(0)">Footer <i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                        <ul class="drop-down-multilevel effect-fade" style="transition: all 400ms ease;">
                            
                            <li><a href="footer-normal.html"> <i class="fa fa-hotel"></i> Footer Normal</a></li>
                            <li><a href="footer-small.html"> <i class="fa fa-automobile"></i> Footer Small</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="hoverTrigger"><a href="javascript:void(0)"> Pages <i class="fa fa-angle-down fa-indicator"></i><div class="mobileTriggerButton"></div></a> 
                
                <ul class="drop-down-multilevel effect-fade" style="transition: all 400ms ease;">
                    <li><a href="users.html">Freelancers</a></li>
                    <li class="hoverTrigger"><a href="javascript:void(0)">Job Detail Pages <label class="label label-info">New</label> <i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                        <ul class="drop-down-multilevel left-side effect-fade" style="transition: all 400ms ease;">
                            <li><a href="single-job.html"> <i class="fa fa-forumbee"></i> Single Job Style 1</a></li>
                            <li><a href="single-job2.html"> <i class="fa fa-hotel"></i> Single Job Style 2</a></li>
                            <li><a href="single-job3.html"> <i class="fa fa-automobile"></i> Single Job Style 3 <label class="label label-info">New</label> </a></li>
                        </ul>
                    </li>
                    <li class="hoverTrigger"><a href="javascript:void(0)">About Us <i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                        <ul class="drop-down-multilevel left-side effect-fade" style="transition: all 400ms ease;">
                            <li><a href="aboutus.html"> <i class="fa fa-forumbee"></i> About Us 1</a></li>
                            <li><a href="aboutus2.html"> <i class="fa fa-hotel"></i> About Us 2</a></li>
                            <li><a href="aboutus3.html"> <i class="fa fa-automobile"></i> About Us 3</a></li>
                        </ul>
                    </li>
                    <li class="hoverTrigger"><a href="javascript:void(0)">Contact Us <i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                        <ul class="drop-down-multilevel left-side effect-fade" style="transition: all 400ms ease;">
                            <li><a href="contactus.html"> <i class="fa fa-forumbee"></i> Contact Us 1</a></li>
                            <li><a href="contactus2.html"> <i class="fa fa-hotel"></i> Contact Us 2</a></li>
                            <li><a href="contactus3.html"> <i class="fa fa-automobile"></i> Contact Us 3</a></li>
                            <li><a href="contactus4.html"> <i class="fa fa-bookmark"></i> Contact Us 4</a></li>
                            <li><a href="contactus5.html"> <i class="fa fa-bell"></i> Contact Us 5</a></li>
                        </ul>
                    </li>
                    <li class="hoverTrigger"><a href="javascript:void(0)">Login pages <i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                        <ul class="drop-down-multilevel left-side effect-fade" style="transition: all 400ms ease;">
                            <li><a href="login.html"> <i class="fa fa-forumbee"></i> Login Style 1</a></li>
                            <li><a href="login-2.html"> <i class="fa fa-hotel"></i> Login Style 2</a></li>
                            <li><a href="login-3.html"> <i class="fa fa-automobile"></i> Login Style 3</a></li>
                            <li><a href="login-4.html"> <i class="fa fa-bookmark"></i> Login Style 4</a></li>
                            <li><a href="login-5.html"> <i class="fa fa-bell"></i> Login Style 5</a></li>
                        </ul>
                    </li>
                    <li class="hoverTrigger"><a href="javascript:void(0)">Registration pages <i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                        <ul class="drop-down-multilevel left-side effect-fade" style="transition: all 400ms ease;">
                            <li><a href="register.html"> <i class="fa fa-forumbee"></i> Register Style 1</a></li>
                            <li><a href="register-2.html"> <i class="fa fa-hotel"></i> Register Style 2</a></li>
                            <li><a href="register-3.html"> <i class="fa fa-automobile"></i> Register Style 3</a></li>
                            <li><a href="register-4.html"> <i class="fa fa-bookmark"></i> Register Style 4</a></li>
                            <li><a href="register-5.html"> <i class="fa fa-bell"></i> Register Style 5</a></li>
                        </ul>
                    </li>
                    <li class="hoverTrigger"><a href="javascript:void(0)">Coming Soon Pages <i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                        <ul class="drop-down-multilevel left-side effect-fade" style="transition: all 400ms ease;">
                            <li><a href="comingsoon.html"> <i class="fa fa-forumbee"></i> Coming Soon 1</a></li>
                            <li><a href="comingsoon2.html"> <i class="fa fa-hotel"></i> Coming Soon 2</a></li>
                            <li><a href="comingsoon3.html"> <i class="fa fa-automobile"></i> Coming Soon 3</a></li>
                            <li><a href="comingsoon4.html"> <i class="fa fa-bookmark"></i> Coming Soon 4</a></li>
                            <li><a href="comingsoon5.html"> <i class="fa fa-bell"></i> Coming Soon 5</a></li>
                        </ul>
                    </li>
                    <li class="hoverTrigger"><a href="javascript:void(0)">Error 404 Pages<i class="fa fa-angle-right fa-indicator"></i> <div class="mobileTriggerButton"></div></a> 
                        <ul class="drop-down-multilevel left-side effect-fade" style="transition: all 400ms ease;">
                            <li><a href="404.html"> <i class="fa fa-forumbee"></i> 404 Style 1</a></li>
                            <li><a href="404-2.html"> <i class="fa fa-hotel"></i> 404 Style 2</a></li>
                            <li><a href="404-3.html"> <i class="fa fa-automobile"></i> 404 Style 3</a></li>
                            <li><a href="404-4.html"> <i class="fa fa-bookmark"></i> 404 Style 4</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="hoverTrigger"><a href="javascript:void(0)">Mega Menu <i class="fa fa-angle-down fa-indicator"></i><div class="mobileTriggerButton"></div></a> 
                <div class="grid-col-12 drop-down effect-fade" style="transition: all 400ms ease;"> 
                    <div class="grid-row"> 
                        <div class="grid-col-2">
                            <h4>Company Pages</h4>
                            <ul>
                                <li><a href="company-dashboard.html"> <i class="fa fa-angle-right"></i> Dashboard</a></li>
                                <li><a href="company-dashboard-edit-profile.html"> <i class="fa fa-angle-right"></i> Edit Profile</a></li>
                                <li><a href="company-dashboard-active-jobs.html"> <i class="fa fa-angle-right"></i> Active Jobs</a></li>
                                <li><a href="company-dashboard-followers.html"> <i class="fa fa-angle-right"></i> Followers</a></li>
                                <li><a href="company-dashboard-resume.html"> <i class="fa fa-angle-right"></i> Job Resume</a></li>
                            <li><a href="elements.html"> <i class="fa fa-angle-right"></i> UI Elements <label class="label label-info">New</label></a></li>
                            </ul>
                        </div>
                        <div class="grid-col-2">
                            <h4>User Pages</h4>
                            <ul>
                            <li><a href="user-dashboard.html"> <i class="fa fa-angle-right"></i> User Dashboard</a></li>
                            <li><a href="user-edit-profile.html"> <i class="fa fa-angle-right"></i> User Edit Profile</a></li>
                            <li><a href="user-followed-companies.html"> <i class="fa fa-angle-right"></i> Followed Companies</a></li>
                            <li><a href="user-job-applied.html"> <i class="fa fa-angle-right"></i> Job Applied</a></li>
                            <li><a href="user-resume.html"> <i class="fa fa-angle-right"></i> Use Resume</a></li>
                            <li><a href="users.html"> <i class="fa fa-angle-right"></i> All Users </a></li>
                            <li><a href="user-resume-build.html"> <i class="fa fa-angle-right"></i> Build Resume  <label class="label label-info">New</label></a></li>
                        </ul>
                        </div>
                        <div class="grid-col-2">
                            <h4>Blog Pages</h4>
                            <ul>
                                <li><a href="blog1.html"> <i class="fa fa-angle-right"></i> Grid Right sidebar</a></li>
                                <li><a href="blog2.html"> <i class="fa fa-angle-right"></i> Blog No Sidebar</a></li>
                                <li><a href="blog3.html"> <i class="fa fa-angle-right"></i> Blog Listing</a></li>
                                <li><a href="blog4.html"> <i class="fa fa-angle-right"></i> Left Sidebar</a></li>
                                <li><a href="blog5.html"> <i class="fa fa-angle-right"></i> Grid Right sidebar </a></li>
                                <li><a href="blog-single.html"> <i class="fa fa-angle-right"></i> Single Blog 1</a></li>
                                <li><a href="blog-single2.html"> <i class="fa fa-angle-right"></i> Single Blog 2</a></li>
                            </ul>
                        </div>
                        <div class="grid-col-2">
                            <h4>Job pages</h4>
                            <ul>
                                <li><a href="job-category1.html"> <i class="fa fa-angle-right"></i> Job Listing 1</a></li>
                                <li><a href="job-category2.html"> <i class="fa fa-angle-right"></i> Job Listing 2</a></li>
                                <li><a href="post-job.html"> <i class="fa fa-angle-right"></i> Job Post 1</a></li>
                                <li><a href="post-job2.html"> <i class="fa fa-angle-right"></i> Job Post 2</a></li>
                                <li><a href="post-job3.html"> <i class="fa fa-angle-right"></i> Job Post 3 </a></li>
                                <li><a href="post-job-wizard.html"> <i class="fa fa-angle-right"></i> Job Post Wizard</a></li>
                            </ul>
                        </div>
                        <div class="grid-col-2">
                            <h4>Resume Pages</h4>
                            <ul>
                            <li><a href="resume.html"> <i class="fa fa-angle-right"></i> Resume Style 1</a></li>
                            <li><a href="resume2.html"> <i class="fa fa-angle-right"></i> Resume Style 2</a></li>
                            <li><a href="resume3.html"> <i class="fa fa-angle-right"></i> Resume Style 3</a></li>
                            <li><a href="resume4.html"> <i class="fa fa-angle-right"></i> Resume Style 4</a></li>
                            <li><a href="resume5.html"> <i class="fa fa-angle-right"></i> Resume Style 5 </a></li>
                            <li><a href="resume6.html"> <i class="fa fa-angle-right"></i> Resume Style 6</a></li>
                            <li><a href="resume7.html"> <i class="fa fa-angle-right"></i> Resume Style 7 <label class="label label-info">New</label></a></li>
                        </ul>
                        </div>
                        <div class="grid-col-2">
                            <h4>Other pages</h4>
                            <ul>
                                <li><a href="single-job.html"> <i class="fa fa-angle-right"></i> Single Job 1</a></li>
                                <li><a href="single-job2.html"> <i class="fa fa-angle-right"></i> Single job 2</a></li>
                                <li><a href="single-job3.html"> <i class="fa fa-angle-right"></i> Single job 3 <label class="label label-info">New</label></a></li>
                                <li><a href="pricing.html"> <i class="fa fa-angle-right"></i> Pricing Tables</a></li>
                                <li><a href="faq.html"> <i class="fa fa-angle-right"></i> FAQ's</a></li>
                                <li><a href="all-categories.html"> <i class="fa fa-angle-right"></i> All Categories</a></li>
                                <li><a href="all-company.html"> <i class="fa fa-angle-right"></i> All Companies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="no-bg"><a href="" class="p-job"><i class="fa fa-plus-square"></i> Post a Job</a></li>
            <li class="no-bg login-btn-no-bg"><a href="{{ path('login') }}" class="login-header-btn"><i class="fa fa-sign-in"></i> Log in</a></li>
        </ul>
    </section>
</nav>